{% extends 'app/base.html' %}
{% load static %}
{% block title %}About us{% endblock title %}
{% block main-content %}
<body>
    <div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="text-center">
            <h1 class="mb-5 text-danger">About Warehouse Developer</h1>

            <div class="row justify-content-center">
                
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'app/images/maksu.jpg' %}" class="card-img-top" alt="Maksuda Islam">
                        <div class="card-body">
                            <h2 class="card-title text-danger">Maksuda Islam</h2>
                            <h4 class="card-text text-primary">Web Developer</h4>
                            <h5 class="card-text">Phone: +8801700000000</h5>
                            <h5 class="card-text">Email: maksudaislam2002@gmail.com</h5>
                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/profile.php?id=100091788682701" target="_blank" class="mr-5">
                                    <img src="{% static 'app/images/facebook-icon1.png' %}" alt="Facebook" width="40" class="img-fluid">
                                </a>
                                <a href="https://codeforces.com/profile/Maksudaa1" target="_blank">
                                    <img src="{% static 'app/images/codeforces-icon1.png' %}" alt="Codeforces" width="40" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </div>
</body>
{% endblock main-content %}
